@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3, .card-body>h5 {
font-family: "Montserrat", cursive;
}

h2 {
  color: #3046C5;
}

.card-img-overlay h5 {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.site-footer {
  background-color: #AA7939;
  padding: 20px 0;
}

.jumbotron {
  margin: 0;
  padding: 30px;
  background-color: #AA5839;
  color: white;
}

.jumbotron h2 {
  color: #CEC8FF;
}

.navbar {
  background-color: #AA7939;
}

.page-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: 300ms ease-out;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: 300ms ease-out;
}